.list_title{
    font-size: 1.4rem;
    color: #ffffff;
    padding: 0 2rem;
} 

.list_movies{
    display: flex;
    position: relative;
    padding: 0 2rem;
    flex-direction: column;
    gap: 0.25rem;
    height: 180px;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

.list_movies::-webkit-scrollbar{
    display: none;
}

.moveRight{
    cursor: pointer;
}

.moveLeft{
    cursor: pointer;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie{
    cursor: pointer;
    border-radius: 4px;
}